.questions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

.questions_question {
    max-width: 150px;
    padding: 15px;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    flex-direction: column;
    border-radius: 5px;
    text-align: center;
}
